{% extends 'base.html' %}
{% block content %}

<h1>Appointments Calendar</h1>
<body>

<div class="row">
        <div class='chart col s6'>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FAmman&amp;src=aDExZGJ1OWIwcDA2NHFmMmthMTZmYW84ZjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23871111&amp;showTitle=0" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

        
        </div>
    
    
</div>
          
</body>


{% endblock  %}
