{% extends 'base.html' %}
{% block content %}

<h1>Medications Calendar</h1>
<body>
<iframe class= 'calendar' src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FAmman&amp;src=bTY3dDNkOTRraXUwbHExZmp0YW5yNG01bnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23402175&amp;showTitle=0&amp;showCalendars=0&amp;showTabs=1&amp;mode=WEEK" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</body>
{% endblock  %}}


