{% extends 'base.html' %}
{% block content %}
<html>
  <head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge', 'corechart',]});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChart2);
      google.charts.setOnLoadCallback(drawChart3);
      google.charts.setOnLoadCallback(drawChart4);
      google.charts.setOnLoadCallback(drawChart5);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Glucose', {{glucose}}],
        ]); 
        var options = {
            width: 400, height: 120,
            redFrom: 130, redTo: 350,
            yellowFrom:100, yellowTo: 130,
            minorTicks: 5,max:350
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          
          chart.draw(data, options);
        }, 13000);
      }
    function drawChart4() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['BMI', {{BMI}}],
        ]); 
        var options = {
            width: 400, height: 120,
            redFrom: 32, redTo: 45,
            yellowFrom:25, yellowTo: 32,
            minorTicks: 10,max:45
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div2'));

        chart.draw(data, options);

        setInterval(function() {
          
          chart.draw(data, options);
        }, 13000);
      }
    function drawChart5() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Cholesterol', {{totchol}}],
        ]); 
        var options = {
            width: 400, height: 120,
            redFrom: 240, redTo: 400,
            yellowFrom:200, yellowTo: 240,
            minorTicks: 10,max:400
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div3'));

        chart.draw(data, options);

        setInterval(function() {
         
          chart.draw(data, options);
        }, 13000);
      }
    function drawChart2() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
               ['Year', 'User', 'Ideal'],
               ['Protein',  {{dailyprotein}},      390],
               ['Calories',  {{dailycalories}},      400],
               ['Sugar',  1170,      440],
               ['Carbs',  1250,       480],
               ['Fat',  {{dailyfat}},      540]
            ]);

            var options = {title: 'User nutriants compared to Ideal', isStacked:true};  

            // Instantiate and draw the chart.
            var chart = new google.visualization.BarChart(document.getElementById('bar_chart'));
            chart.draw(data, options);
         }
    function drawChart3() {
        var oldData = google.visualization.arrayToDataTable([
        ['Activity', 'Duration'],
        ['Running', 256070], ['Walking', 108034],
        ['Swimming', 127101], ['hiking', 81863],
        ['Football', 74194]]);

        var newData = google.visualization.arrayToDataTable([
        ['Activity', 'Duration'],
        ['Running', 358293], ['Walking', 101265],
        ['Swimming', 172780], ['hiking', 129634],
        ['Football', 97216]]);

        var options = { pieSliceText: 'none' ,title :'Pie chart showing recommended activity inside the circle'};


        var chartDiff = new google.visualization.PieChart(document.getElementById('piechart_diff'));

        var diffData = chartDiff.computeDiff(oldData, newData);
        chartDiff.draw(diffData, options);
    }

      </script>
   <style>
   .chart{
       height: 200px;
       display: block;
   }
    </style>
    </head>
    <div class="row">
      <h1>Hi,{{user}}</h1>
    
    </div>
    <div class="chip">
        Fittnes Score 95%
      
        <i class="close material-icons">close</i>
      </div>
    <div class="chip">
          Diet Score 95%
        
          <i class="close material-icons">close</i>
        </div>
            
    <div class="row">
        <h4>BMI,GLucose and Cholesterol Indicators </h4>
        <div id="chart_div" class="chart col s4"></div>
        <div id="chart_div2" class="chart col s4"></div>
        <div id="chart_div3" class="chart col s4"></div>
    </div>
    <blockquote>
      It is noted that {{nutriant}}, cheer   you up.
    </blockquote>

    <div class="row">
        <div id="bar_chart" class = "chart col s12"></div>
    </div>


    <div class="row">
        <div id='piechart_diff' class='chart col s12'></div>
    </div>


   
</html>
{% endblock %}
